/* @import "~@ng-select/ng-select/themes/default.theme.css"; */


.heading{
    color: var(--brown-color);
    font-family: var(--font-family);
}

.input-style{
    background: transparent;
    border-radius: 0;
    border: none;
    border-bottom: 3px solid var(--brown-color);
    padding: 0.5rem 0;
    &:focus-within{
        box-shadow: none;
        background: transparent;
        border-bottom: 3px solid green;
        color: green;
    }
}

.input-box{
    background: transparent;
    border-radius: 0;
    border: none;
    padding: 0.5rem 0;
    &:focus-visible{
        box-shadow: none;
        background: transparent;
    }
}


.btn-close-custom{
    padding: 0;
}

.input-group.input-style .btn-close-custom {
    display: none;
}
  
.input-group.input-style:focus-within .btn-close-custom {
    display: block;
}


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--brown-color);
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: none;
}
  

.ng-select.custom {
    min-height: 0px;
    border-radius: 0;
    font-size: 1.2rem;
    
}
.ng-select.custom::ng-deep.ng-dropdown-panel-items.scroll-host {
    background: var(--first-color);
    padding: 1rem;
    margin-top: 0.8rem;
    width: fit-content;
    border-radius: 0.9rem;
    transition: 0.3s ease-in-out;
    color: var(--brown-color);
}

.ng-select.custom::ng-deep.ng-clear{
    font-size: 1.7rem;
}

.ng-select.custom::ng-deep.ng-arrow{
    color: var(--brown-color);
    font-size: 1.7rem;
}

/* .container{
    padding: 0;
    margin: 0;
    border-radius: 0.9rem;
} */



.edit-btn{
    background: var(--brown-color);
    color: var(--first-color-light);
    border: none;
    border-radius: 0.9rem;
    padding: 0.2rem 1rem;
    font-size: 1.2rem;
    font-family: var(--font-family);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}




/* custom ng-select-searchable ng-select-clearable ng-select ng-select-single ng-select-bottom */