<div class="col">
    <h2 class="mb-3 heading">Add Booth-Colony Association</h2>
    <form class="needs-validation" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-4 mb-3">
                <label for="boothName">Booth Name</label>
                <div class="input-group input-style">
                    <input type="text" class="form-control input-box" id="boothName" required="true" [(ngModel)]="booth.boothName" name="boothName">
                    <button class="btn-close-custom input-box" type="reset">
                        <span class="iconify bn-close" data-icon="bi:x" data-width="20" data-height="20"></span>
                    </button>
                </div>
            </div>
            <!-- Break -->
            <div class="w-100 mb-4"></div>
            <!-- Break -->
            <div class="col-md-4 mb-3">
                <label for="colonyId">Colony Id</label>
                <div class="input-group input-style">
                    <input type="text" class="form-control input-box" id="colonyId" required="true" 
                    [(ngModel)]="FormColony.colonyId" name="colonyId">
                    <button class="btn-close-custom input-box" type="reset">
                        <span class="iconify bn-close" data-icon="bi:x" data-width="20" data-height="20"></span>
                    </button>
                </div>
            </div>
            <div class="col-md-4 mb-3">
                <label for="colonyName">Colony Name</label>
                <div class="input-group input-style">
                    <!-- BOUND BY [(ngModel)]="colony.colonyName, THIS IS USED FOR THE FILTER -->
                    <input type="search" class="form-control input-box" id="colonyName" required="true" 
                    [(ngModel)]="FormColony.colonyName" name="colonyName">
                    <button class="btn-close-custom input-box" type="reset">
                        <span class="iconify bn-close" data-icon="bi:x" data-width="20" data-height="20"></span>
                    </button>
                </div>
            </div>
        </div>
        <div class="table-responsive card mt-5" style="background: transparent; border-color: var(--brown-color);">
            <table class="table table-hover" style="margin: 0;">
                <thead>
                    <tr class="table-custom">
                        <th scope="col" class="table-custom">Colony ID</th>
                        <th scope="col" class="table-custom">Colony Name</th>
                        <th scope="col" class="table-custom">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- THIS IS THE FILTER ON THE TABLE  -->
                    <tr *ngFor="let colony of Colonies | filter: FormColony.colonyName">
                        <td class="rows">{{ colony.colonyId }}</td>
                        <td class="rows">{{ colony.colonyName }}</td>
                        <td class="rows" style="align-items: center;">
                            <button type="button" class="edit-btn" (click)="addColonyAssosiation(colony.colonyId, booth.boothId)">
                                <span class="iconify election-nav-icon" data-icon="ic:round-plus" data-width="24"
                                    data-height="24" style="vertical-align: text-bottom;"></span>
                                Add
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <hr class="mb-4 mt-5 col-md-8">
        <button class="btn btn-outline-success btn-lg " type="submit">Save Details</button>
        <button class="btn btn-outline-dark btn-lg ms-4 " type="reset">Reset</button>
        <button class="btn btn-outline-primary btn-lg ms-4 " (click)="goToBoothList()">Cancel</button>
    </form>

</div>