<div class="col">
    <h2 class="mb-5 heading">Add Voter Data</h2>
    <!-- FORM: HAS THE onSubmit() -->
    <form class="needs-validation" (ngSubmit)="onSubmit()">
        <div class="row">

            <div class="col-md-4 ">
                <label for="electionName" style="font-size: 1.3rem;">Election Name</label>
                <div class="input-style">
                    <ng-select [items]="elections" bindLabel="electionName" class="custom" [(ngModel)]="election" 
                    name="electionName"></ng-select>
                </div>
            </div>

            <!-- Break -->
            <div class="w-100 mb-4"></div>
            <!-- Break -->

            <div class="col-md-4 mb-4 ">
                <label for="communityName" style="font-size: 1.3rem;">Community Name</label>
                <div class="input-style">
                    <ng-select [items]="communities" bindLabel="communityName" class="custom" [(ngModel)]="community"
                    name="communityName"></ng-select>
                </div>
            </div>

            <div class="col-md-4 mb-4 ">
                <label for="communityName" style="font-size: 1.3rem;">Category Name</label>
                <div class="input-style">
                    <ng-select [items]="categories" bindLabel="categoryName" class="custom" [(ngModel)]="category"
                    name="categoryName"></ng-select>
                </div>
            </div>

            <!-- Break -->
            <div class="w-100 mb-4"></div>
            <!-- Break -->

            <div class="col-md-4 mb-4 ">
                <label for="casteName" style="font-size: 1.3rem;">Caste Name</label>
                <div class="input-style">
                    <ng-select [items]="castes" bindLabel="casteName" class="custom" [(ngModel)]="caste"
                    name="casteName"></ng-select>
                </div>
            </div>

            <div class="col-md-4 mb-4 ">
                <label for="ageGroupName" style="font-size: 1.3rem;">Age Group</label>
                <div class="input-style">
                    <ng-select [items]="ageGroups" bindLabel="ageGroupName" class="custom" [(ngModel)]="ageGroup" 
                    name="ageGroupName"></ng-select>
                </div>
            </div>

            <!-- Break -->
            <!-- <div class="w-100 mb-4"></div> -->
            <!-- Break -->

            <!-- <div class="col-md-4 mb-4 ">
                <label for="wardName" style="font-size: 1.3rem;">Ward Name</label>
                <div class="input-style">
                    <ng-select [items]="booths" bindLabel="wardName" class="custom" [(ngModel)]="ward"
                    name="boothName" (change)="getColoniesOfBooth(booth.boothId)"></ng-select>
                </div>
            </div> -->

            <!-- Break -->
            <div class="w-100 mb-4"></div>
            <!-- Break -->

            <div class="col-md-4 mb-4 ">
                <label for="boothName" style="font-size: 1.3rem;">Booth Name</label>
                <div class="input-style">
                    <ng-select [items]="booths" bindLabel="boothName" class="custom" [(ngModel)]="booth"
                    name="boothName" (change)="getColoniesOfBooth(booth.boothId)"></ng-select>
                </div>
            </div>

            <div class="col-md-4 mb-4 ">
                <label for="colonyName" style="font-size: 1.3rem;">Colony Name</label>
                <div class="input-style">
                    <ng-select [items]="colonies" bindLabel="colonyName" class="custom" [(ngModel)]="colony" 
                    name="colonyName" (change)="getApartmentsOfColony(colony.colonyId)"></ng-select>
                </div>
            </div>

            <!-- Break -->
            <div class="w-100 mb-4"></div>
            <!-- Break -->

            <div class="col-md-4 mb-4 ">
                <label for="apartmentName" style="font-size: 1.3rem;">Apartment Name</label>
                <div class="input-style">
                    <ng-select [items]="apartments" bindLabel="apartmentName" class="custom" [(ngModel)]="apartment" 
                    name="apartmentName"></ng-select>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <label for="boothName" style="font-size: 1.3rem;">Number Of Voters</label>
                <div class="input-group input-style" style="padding-bottom: 0;">
                    <input type="text" class="form-control input-box" id="noOfVoters" 
                        required="true" [(ngModel)]="noOfVoters" name="noOfVoters">
                    <button class="btn-close-custom input-box" type="reset">
                        <span class="iconify bn-close" data-icon="bi:x"  data-width="24" data-height="24" style="vertical-align: baseline; font-size: 1.3rem; font-weight: 400;"></span>
                    </button>
                </div>
            </div>

        </div>
        <hr class="mb-4 mt-5">
        <button class="btn btn-outline-success btn-lg " type="submit">Save Details</button>
        <button class="btn btn-outline-dark btn-lg ms-4 " type="button" (click)="setFilter()">Reset</button>
        <button class="btn btn-outline-primary btn-lg ms-4 " type="button" (click)="searchTable()">Search</button>
    </form>
    <!-- TABLE -->
    <div class="table-responsive card mt-5 mb-3" style="background: transparent; border-color: var(--brown-color);">
        <table class="table table-hover table-sm" style="margin: 0;">
            <thead>
                <tr class="table-custom">
                    <th scope="col" class="table-custom">Community</th>
                    <th scope="col" class="table-custom">Category</th>
                    <th scope="col" class="table-custom">Caste</th>
                    <th scope="col" class="table-custom">Age Group</th>
                    <th scope="col" class="table-custom">Voters</th>
                    <th scope="col" class="table-custom">Booth</th>
                    <th scope="col" class="table-custom">Colony</th>
                    <th scope="col" class="table-custom">Apartment</th>
                    <th scope="col" class="table-custom">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let voterData of VoterDatas | myFilter: filter">
                    <td class="rows">{{ voterData.community.communityName}}</td>
                    <td class="rows">{{ voterData.category.categoryName }}</td>
                    <td class="rows">{{ voterData.caste.casteName }}</td>
                    <td class="rows">{{ voterData.ageGroup.ageGroupName }}</td>
                    <td class="rows">{{ voterData.noOfVoters }}</td>
                    <td class="rows">{{ voterData.booth.boothName }}</td>
                    <td class="rows">{{ voterData.colony.colonyName }}</td>
                    <td class="rows">{{ voterData.apartment.apartmentName }}</td>
                    <td class="rows" style="align-items: center;">
                        <button class="edit-btn mt-3" (click)="editVoterData(voterData)">
                            <span class="iconify election-nav-icon" data-icon="fluent:edit-16-regular" data-width="23" data-height="23"></span>
                            Edit
                          </button>
                          <br>
                          <button class="edit-btn mt-3 mb-4" (click)="deleteVoterData(voterData)">
                            <span class="iconify election-nav-icon" data-icon="fluent:edit-16-regular" data-width="23" data-height="23"></span>
                            Delete
                          </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

